/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site        : 'sandstone';
@reset       : 'default';

/* Elements */
@button      : 'raised';
@container   : 'sandstone';
@divider     : 'sandstone';
@flag        : 'sandstone';
@header      : 'sandstone';
@icon        : 'default';
@image       : 'sandstone';
@input       : 'sandstone';
@label       : 'sandstone';
@list        : 'sandstone';
@loader      : 'sandstone';
@placeholder : 'sandstone';
@rail        : 'sandstone';
@reveal      : 'sandstone';
@segment     : 'sandstone';
@step        : 'sandstone';

/* Collections */
@breadcrumb  : 'sandstone';
@form        : 'sandstone';
@grid        : 'sandstone';
@menu        : 'sandstone';
@message     : 'default';
@table       : 'sandstone';

/* Modules */
@accordion   : 'sandstone';
@checkbox    : 'united';
@dimmer      : 'sandstone';
@dropdown    : 'sandstone';
@embed       : 'sandstone';
@modal       : 'sandstone';
@nag         : 'sandstone';
@popup       : 'sandstone';
@progress    : 'sandstone';
@rating      : 'sandstone';
@search      : 'sandstone';
@shape       : 'sandstone';
@sidebar     : 'sandstone';
@sticky      : 'sandstone';
@tab         : 'sandstone';
@transition  : 'sandstone';

/* Views */
@ad          : 'sandstone';
@card        : 'sandstone';
@comment     : 'sandstone';
@feed        : 'sandstone';
@item        : 'sandstone';
@statistic   : 'sandstone';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'site';


/*******************************
         Import Theme
*******************************/

@import (multiple) "theme.less";

/*******************************
         Import Overrides
*******************************/

@fontPath : '../../../themes/default/assets/fonts';

/* End Config */
